@model JOWheels.Models.Brand

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- CSS File -->
<link href="~/styles/inputstyle/inputstyle.css" rel="stylesheet" />


<!-- Heading -->
<h1>Add Brand</h1>


<hr />


<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-action="Create" id="brandForm">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group text-center mb-3">
                <label asp-for="Name" class="control-label">Brand Name</label>
                <input asp-for="Name" class="form-control" id="inp" required />
                <span id="nameError" class="text-danger"></span>
            </div>

            <div>
                <div class="form-group text-center mb-3">
                    <label asp-for="Image" class="control-label"></label>
                    <input asp-for="Image" type="file" name="Upload" class="form-control" required />
                </div>
            </div>

            <div class="form-group d-flex justify-content-center mb-3">
                <input type="submit" value="Create" class="btn btn-primary mx-2" style="background-color:#007A3D" />
                <a asp-action="Index" class="btn btn-secondary mx-2">Back to List</a>
            </div>

        </form>
    </div>
</div>



<!-- A links For Including jQuery -->
<script src="~/lib/jquery/dist/jquery.min.js"></script>


@section Scripts {
    <script>
        $(document).ready(function () {
            $("#brandForm").submit(function (event) {
                var isValid = true;
                var nameInput = $("#inp").val();

                if (nameInput.trim() === "") {
                    $("#nameError").text("Can't be NULL");
                    isValid = false;
                } else {
                    // If the input is not empty, clear any previous error message
                    $("#nameError").text("");
                }

                if (!isValid) {
                    event.preventDefault(); // Prevent the form from being submitted
                }
            });
        });
    </script>
}
