@model JOWheels.Models.Body

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- CSS File -->
<link href="~/styles/inputstyle/inputstyle.css" rel="stylesheet" />


<!-- Heading -->
<h1>Add Body</h1>


<hr />


<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-action="Create" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group text-center mb-3">
                <label asp-for="Name" class="control-label">Body Name</label>
                <input asp-for="Name" class="form-control" id="inp" required />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group text-center mb-3">
                <label asp-for="BrandId" class="control-label">Brand Name</label>
                <select asp-for="BrandId" class="form-control" id="inp" asp-items="ViewBag.BrandId" required></select>
            </div>

            <div>
                <div class="form-group text-center mb-3">
                    <label asp-for="Image" class="control-label"></label>
                    <input asp-for="Image" type="file" name="Upload" class="form-control" required />
                </div>
            </div>

            <div class="form-group d-flex justify-content-center mb-3">
                <input type="submit" value="Create" class="btn btn-primary mx-2" style="background-color:#007A3D" />
                <a asp-action="Index" class="btn btn-secondary mx-2">Back to List</a>
            </div>

        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
